@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><i>Hello World!! Well, not much here. Take a look at the book categories:</i></p>
    <div class="d-grid gap-2">
      <a asp-controller="Category" asp-action="Index" class="btn btn-lg btn-primary" type="button">Book Categories!</a>
    </div>

</div>
